
  @{
    Layout = "_Layout";
  }
  
  <h1>Welcome to World Renound Baker Pierre's new venture, Carbs: The Bakery.</h1>
  <p>Pierre opened this bakery as a new forray into the reimagination of the typical bakery. His artistry and sets apart this new venture from your regular Mom n Pop bakery. See For yourself.</p>
  <form action="/order" method="GET">
    <button type="submit"class="btn-secondary">Order History</button>
  </form>
  <form action="/vendor/new" method="GET">
    <button class="btn-secondary">Add New Vendor</button>
  </form>
  <form action="/vendor/" method="GET">
    <button class="btn-secondary">Vendor List</button>
  </form>
  
  
  
